header ul.flex {
  gap: 1rem;
}
header.flex {
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 1rem;
}

header ul li a {
  color: var(--title);
  font-weight: 500;
  opacity: 0.9;
  font-size: 0.98rem;
}
header ul li a:hover {
  color: var(--blue);
  font-weight: 500;
  opacity: 1;
  font-size: 1rem;
}

header button {
  font-size: 1.2rem;
}

header.flex nav {
  border-radius: 55px;
  background-color: var(--bgHeader);
  padding: 0.7rem 1.5rem;
  box-shadow: 1px 1px 80px rgba(161, 150, 128, 0.3);
  /* box-shadow: 10px -10px 20px rgb(255, 0, 0); */

}
header.flex button .menu {
  display: none;
}

header .fixed {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(54, 54, 66, 0.815);
  /* bluring background */
  backdrop-filter: blur(4px);
}

@keyframes mymove {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

header .fixed ul.modal {
  animation: mymove 1s 1;
  scale: 1;
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}
header .fixed ul.modal li {
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
}
header .fixed ul.modal li a {
  font-size: 1rem;
}

header .fixed ul.modal li:last-child {
  border-bottom: none;
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
}
header .fixed ul.modal li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0;
  padding-top: 0.2rem;
  margin-bottom: -1rem;
}
header.flex button.menu {
  display: none;
}

/* icons */
header .icon-menu , header button.mode{
    border-radius: 50%;
    background-color:var(--bgHeader);
    justify-content: center;
    text-align: center;
    width: 2.6rem;
    height: 2.6rem;
    color: var(--subTitle);
    border: 1px solid rgba(255, 127, 80, 0.268);
    transition: 0.2s ;
    border: 1px solid rgba(128, 128, 128, 0.368);
}
header .icon-cross{
    font-size: 1.5rem;
    color: var(--subTitle);
    transition: 0.3s;
}
header .icon-cross:hover{
    font-size: 1.7rem;
    color: crimson;
    rotate: 180deg;
}
header .icon-menu:hover , header button.mode:hover{
    color: var(--title);
    border: 1px solid tomato;
}

header .icon-sun {
  color:orange;
  
}


@media (max-width: 700px) {
  header.flex nav {
    display: none;
  }
  header.flex button.menu {
    display: block;
  }
}
